{% extends "base.html" %}

{% block main %}
<div class="container">

  <form action="" method="post">
    {% csrf_token %}
    <input type="text" name="product_code" required>
    <input type="number" name="quantity" min="1" required>
    <button type="submit">Add product</button>
  </form>

  {% if bill %}
  <ul>
    {% for product, quantity in bill %}
      <li>{{ product }},  {{ quantity }}</li>
    {% endfor %}
  </ul>

  Grand total: {{ total }}

  <form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="commit" value="1">
    <button type="submit">Commit</button>
  </form>
  {% endif %}


  <form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="reset_bill" value="1">
    <button type="submit">Reset bill</button>
  </form>

</div>{# container #}
{% endblock main %}
