{% extends "base.html" %}

{% block main %}
<div class="container">

  <form action="" method="post">
    {% csrf_token %}
    <input type="text" placeholder = "Bill Number" name="bill_number" required>
    <button type="submit" name="viewbill" value="1">View Bill</button>
  </form>

{%if bill%}
<table class="table table-condensed table-hover table-striped">
<thead>
  <tr>
    <td width="30%"> <h3>Description</h3> </td>
    <td align="right" width="20%"> <h3>Quantity</h3> </td>
    <td align="right"> <h3>Rate</h3> </td>
    <td align="right"> <h3>Total</h3> </td>
<!--     <td align="right" width="20%"> <h3>Stock</h3> </td>
    <td align="right" width="20%"> <h3>Price</h3> -->
  </tr>
</thead>
 
 <tbody>
    {% for product, quantity, rate, total in bill %}
      <tr>
        <td width="30%">{{ product|truncatechars:100 }}</td>
        <td align="right" width="20%">{{ quantity}}</td> 
        <td align="right">{{rate}}</td>
        <td align="right">{{total}}</td>
    {% endfor %}
      </tr>
    <tr> 
    <td></td>
    <td></td>
    <td></td>
    <td align="right">Grand total: Rs. {{ grand_total }}</td>
    </tr>
</tbody>

</table>
{%endif%}

</div>{# container #}
{% endblock main %}
